.slide-in-up__content {
  width: fit-content;
  object-fit: contain;
  overflow: hidden;
}

.slide-in-up__wrapper {
  width: fit-content;
  object-fit: contain;
  /* Oculta até o GSAP iniciar o slide-in e evita piscada */
  opacity: 0;

  img {
    margin-bottom: -0.6rem;
  }
}
