@use "../../../styles/theme/variables" as *;

.app-footer {
  height: 80px;
  background-color: $color-background-black;
  padding: 1.6rem 1.6rem;
  color: $color-white;
  display: flex;
  align-items: center; // centraliza verticalmente o conteúdo
}

.app-footer__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-footer__status {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.app-footer {
  .hero__glitch-wrap {
    position: relative;
  }

  .hero__glitch-text {
    position: relative;

    &--cyan {
      position: absolute;
      inset: 0;
      mix-blend-mode: screen;

      .heading,
      .text {
        color: cyan;
      }
    }

    &--red {
      position: absolute;
      inset: 0;
      mix-blend-mode: screen;

      .heading,
      .text {
        color: red;
      }
    }
  }
}
