@use "../../../../styles/theme/variables" as *;

.technology-card {
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    width: fit-content;
    color: $color-gray-200;
  }
}
