@use "../../../../styles/theme/variables" as *;

// Aplique esta classe aos elementos divididos em linhas pelo SplitText
.text-reveal__trigger :is(h1, h2, h3, h4, h5, h6, p) > div {
  background: linear-gradient(
    to right,
    $color-text-heading 50%,
    $color-gray-200 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
