@use "../../../../styles/theme/variables" as *;

.avatar-wrapper {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid transparent;
  transition: border-color $transition-default;
}

.avatar-picture {
  position: absolute;
  bottom: -2rem;
  left: -0.5rem;
}

.avatar-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
